# Datos Pesados
*.csv
*.json
*.geojson
*.shp


# Ignorar notebooks grandes específicos
Mapa*.ipynb
Notebook/Mapa*.ipynb

# Ignorar notebook pesado específico
/Mapa Mexico.ipynb

# Ignorar cualquier variante por seguridad
*Mapa*.ipynb